body {
    font-family: 'Roboto', sans-serif;
}

.small-square {
    position: relative;
    border: 1px solid black;
    padding-bottom: calc((100% / 3) - 2px);
}

.big-square {
    border: 2px solid black;
}
.row {
    border-left: 3px solid black;
    border-right: 3px solid black;
}
.container:first-child .row {
    border-top: 3px solid black;
}
.container:last-child .row {
    border-bottom: 3px solid black;
}

.show {
    background-color: lightgray;
}

.small-square span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 40px;
}